<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>2019 Notes | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta property="og:site_name" content="2019 Notes" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
    {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ',' }}" />
    {% endif %}
  </head>
  <body>
    <div class='wrapper'>
      <section itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="entry-title title" itemprop="name">{{ page.title }}</h1>
        <span>on <span itemprop="datePublished" class="published" datetime="{{ page.date }}">{{ page.date | date_to_string }}</span></span>
        <div class="content entry-content" itemprop="articleBody">
            {{ content | replace: "<h1 id='table_of_contents'>Table of Contents</h1>", "<strong>Table of Contents:</strong>" | replace: "<ul style='list-style: none;'>", "<ul class='toc' id='toc'>" }}
        </div>
      </section>
      <footer>{% include footer.html %}</footer>
    </div>
    <script type="text/javascript">
var stylesheet = document.createElement('link');

{% if page.math %}
    <script type="text/javascript">{% include js/katex.js %}</script>
{% endif %}
  </body>
</html>
